*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Hanken Grotesk', sans-serif;
    
}
:root {
    --Light-red: hsl(0, 100%, 67%);
    --Orangey-yellow: hsl(39, 100%, 56%);
    --Green-teal: hsl(166, 100%, 37%);
    --Cobalt-blue: hsl(234, 85%, 45%);

/* Graidents */

/* backgrounds */
--Light-slate-blue: hsl(252, 100%, 67%);
--Light-royal-blue: hsl(241, 81%, 54%);

/* circle */
--Violet-blue: hsla(256, 72%, 46%, 1);
--Persian-blue: hsla(241, 72%, 46%, 0);

/* Neutral */

--White: hsl(0, 0%, 100%);
--Pale-blue: hsl(221, 100%, 96%);
--Light-lavender: hsl(241, 100%, 89%);
--Dark-gray-blue: hsl(224, 30%, 27%);
}

/* overall result pane design */
.overall-result-pane, 
.detail-result-pane{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0px 0px 30px 30px;
}

.overall-result-pane{
    background: linear-gradient(var(--Light-slate-blue), var(--Light-royal-blue));
    padding: 25px 75px;
}

.cirle{
    margin: 30px;
    background: linear-gradient(var(--Violet-blue) ,var(--Persian-blue));
    border: none;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.msg-text{
    margin-bottom: 20px;
}

/* detail result pane design */

.detail-result-pane{
    display: flex;
    flex-direction: column;
}
.detail-title,
.item-results {
    width: 80vw;
}
.detail-title{
    margin: 30px 0;
}
.item-results{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.labelEl{
    display: flex;
    flex-direction: row;
}
.labelEl p{
    margin-left: 10px;
}
.reaction, 
.memory,
.verbal,
.visual {
    border: none;
    border-radius: 10px;
    margin-bottom: 20px;
    font-size: 18px;
} 
.reaction{
    background-color:hsla(0, 100%, 67%, 0.055) ;
    color: var(--Light-red);
}
.memory{
    background: hsl(39, 100%, 56%, 0.055);
    color: var(--Orangey-yellow);
}
.verbal{
    background: hsl(166, 100%, 37%, 0.055);
    color: var(--Green-teal);
}
.visual{
    background:hsl(234, 85%, 45%, 0.055) ;
    color: var(--Cobalt-blue);
}
.result, 
.total{
    font-weight: 800;
}
.result{
    color: var(--Dark-gray-blue);
    margin-right: 7px;
}
.total{
    color: lightslategrey;
}
button{
    width: 80vw;
    border: none;
    border-radius: 30px;
    padding: 20px;
    margin: 10px;
    background: var(--Dark-gray-blue);
    color: var(--White);
    cursor: pointer;
    font-size: 18px;
    font-family: 'Hanken Grotesk', sans-serif;
}

/* Font Design */

.Light-lavender-font{
    color: var(--Light-lavender);
}
.Light-slate-blue-font{
    color: var(--Light-slate-blue);
}

.score{
    color: var(--White);
    font-size: 60px;
    font-weight: 700;
}
.mood{
    color: var(--White);
    margin-bottom: 15px;
    font-size: 28px;
    font-weight: 500;
}
.msg-text{
    text-align: center;
}

.detail-title{
    color: var(--Dark-gray-blue);
    font-weight: 800;
    font-size: 18px;
    text-align: left;
}