*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --Light-red: hsl(0, 100%, 67%);
    --Orangey-yellow: hsl(39, 100%, 56%);
    --Green-teal: hsl(166, 100%, 37%);
    --Cobalt-blue: hsl(234, 85%, 45%);

/* Graidents */

/* backgrounds */
--Light-slate-blue: hsl(252, 100%, 67%);
--Light-royal-blue: hsl(241, 81%, 54%);

/* circle */
--Violet-blue: hsla(256, 72%, 46%, 1);
--Persian-blue: hsla(241, 72%, 46%, 0);

/* Neutral */

--White: hsl(0, 0%, 100%);
--Pale-blue: hsl(221, 100%, 96%);
--Light-lavender: hsl(241, 100%, 89%);
--Dark-gray-blue: hsl(224, 30%, 27%);
}

/* div.design */
.overall-result-pane, 
.detail-result-pane{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0px 0px 30px 30px;
}

.overall-result-pane{
    height: 35vh;
    background: linear-gradient(var(--Light-slate-blue), var(--Light-royal-blue));
    
}
.detail-result-pane{
    display: flex;
    flex-direction: column;
}
.item-results{
    display: flex;
    justify-content: space-between;
    width: 80vw;
}
.labelEl{
    display: flex;
    flex-direction: row;
}
button{
    background: var(--Dark-gray-blue);
    color: var(--White);
}